doctype 5
html(lang='en')
  head
    link(href='assets/css/bootstrap.css', rel='stylesheet')

    style
      body {
        padding-top: 60px;
      }
      .completed {
        text-decoration: line-through;
      }
  
    link(href='assets/css/bootstrap-responsive.css', rel='stylesheet')
    link(rel='shortcut icon', href='assets/ico/favicon.ico')

  body
    .container-fluid
      .row-fluid
        .span4
          section(id='appapp')

    script(data-main='javascripts/app.js', src='assets/js/require.js')
